<h1>Recipe List</h1>
<%= link_to 'My App', controller: 'recipes' %>
<%= link_to 'New Recipe', new_recipe_path %>


<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>
 
  <% @recipes.each do |recipe| %>
    <tr>
      <td><%= recipe.title %></td>
      <td><%= recipe.text %></td>
      <td><%= link_to 'Show', recipe_path(recipe) %></td>
      <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
    </tr>
  <% end %>

  <%= link_to 'Back', recipes_path %>  
</table>